@import "../../constants/colors.css";

.button-component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--light-main);
  color: var(--primary-main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--primary-main);

  .button-content-text {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-main);
  }

  .button-content-icon {
    margin-right: 8px;
  }
}
.button-component:hover {
  background-color: var(--primary-main) !important;
  border: 1px solid var(--primary-dark-border);

  .button-content-text {
    color: var(--light-main) !important;
  }
}

// dark mode
.button-component-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-main);
  color: var(--light-main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  .button-content-text {
    font-size: 16px;
    font-weight: bold;
    color: var(--light-main);
  }

  .button-content-icon {
    margin-right: 8px;
  }
}

.button-component-dark:hover {
  background-color: var(--light-main) !important;
  border: 1px solid var(--primary-dark-border);

  .button-content-text {
    color: var(--primary-main) !important;
  }
}
